[Desktop Entry]
Type=Application
TryExec=commandspace
Exec=commandspace
Icon=commandspace
Terminal=false
Categories=System;TerminalEmulator;

Name=CommandSpace
GenericName=Terminal
Comment=CommandSpace GPU-accelerated terminal emulator
StartupNotify=true
StartupWMClass=commandspace
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=commandspace
